<div class="container">
  <div class="form-box">
    <h1>Create a new task</h1>
    <%= simple_form_for(@task, as: :task, method: :post, url: flat_tasks_path) do |f| %>
      <div class="row">
        <div class="col-6">
            <%= f.input :title %>
        </div>
        <div class="col-6">
            <%= f.input :urgency, prompt: "Indicate priority" %>
        </div>
      </div>
      <div class="task-form-description">
        <div class="description">
          <%= f.input :description, as: :text, placeholder: "This task is about..." %>
        </div>
        <div class="participants">
          <%= f.simple_fields_for :participations do |p| %>
            <%= p.association :users, label: "Add participants..." %>
          <% end %>
        </div>
        <div class="comment-entry">
          <%= f.simple_fields_for :comment do |c| %>
            <%= c.input :text, label: "Add comment" %>
          <% end %>
        </div>
        <div class="existing-comments">

        </div>
      </div>

      <%= f.association :category, as: :radio_buttons %>
      <%= f.submit "Create this task", class: "button-dark" %>
    <% end %>
  </div>
</div>
