<% content_for(:title) do %>
  Flattrack Flats
<% end %>


<div class="container">
<h2>Your flats</h2>
  <div class="container-flat-index">
    <div class="item-map">
      <div
  id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      </div>
      <div class="item-list">
      <% @flats_geocoded.each do |flat| %>
      <%= link_to flat_path(flat) do%>
        <div class="flatitem">
        <h3 class="address-header"><%=flat.address%></h3>
        <p class="content"> <%= flat.rooms%> Rooms <%=flat.parking_space%> Parking Spaces <%=flat.area%>m²</p>
      </div>
    <%end%>
    <%end%>

     <!-- <div class="flatitem">
        <h3 class="address-header">Rudi-Dutschke-Straße 29, 10119 Berlin</h3>
        <p class="content">Hello I am some content blablablablblablalablalblalb content yeahhhhh!I am a second line of content yeaaah whoohooo</p>
      </div>
      <div class="flatitem">
        <h3 class="address-header">Zehdenicker Straße 68, 10119 Berlin</h3>
        <p class="content">Hello I am some content blablablablblablalablalblalb content yeahhhhh!I am a second line of content yeaaah whoohooo</p>
      </div>
      <div class="flatitem">
        <h3 class="address-header">Zehdenicker Straße 68, 10119 Berlin</h3>
        <p class="content">Hello I am some content blablablablblablalablalblalb content yeahhhhh!I am a second line of content yeaaah whoohooo</p>
      </div>-->
    </div>
  </div>
  <h2>What's going on today</h2>
  <% if @tasks.count==1%>
  <div class="container-flat-index-tasks-b">
  <% elsif @tasks.count==2%>
    <div class="container-flat-index-tasks-a">
    <%else%>
    <div class="container-flat-index-tasks">
    <%end%>
    <% @tasks.each do |task| %>
  <div class="task-card-small">
        <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
          <h3><%= task.title %></h3>
          <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        </div>
        <p class="content"><%= task.description %></p>
      </div>
      <%end%>

  <!--<div class="item-task-a">
      <div class="task-card-small">
        <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
        <h3>Task title</h3>
        <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        </div>
        <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
      </div>
    </div>
    <div class="item-task-b">
      <div class="task-card-small">
        <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
        <h3>Task title</h3>
        <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        </div>
        <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
      </div>
    </div>
    <div class="item-task-c">
      <div class="task-card-small">
        <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
        <h3>Task title</h3>
        <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        </div>
        <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
      </div>-->
    </div>
  </div>
</div>
<!--<%= bar_chart Flat.group(:area).sum(:monthly_rent_cents) %>-->

