<% content_for(:title) do %>
  Flattrack <%= @flat.address %>
<% end %>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">New Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-box">
            <h1>Create a new task</h1>
            </div>
            <%= simple_form_for(@task, as: :task, method: :post, url: flat_tasks_path(@flat)) do |f| %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.association :category %>
              <%= f.submit "Create this task", class: "button-dark" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <h2>Zehdenicker Straße 69</h2>
  <div class="kpi-container">
    <div class="kpi-container-item-a">
    <h2>100.000€</h2>
    </div>
    <div class="kpi-container-item-b">
      <h2>200m²</h2>
    </div>
    <div class="kpi-container-item-c">
      <h2>30€/m²</h2>
    </div>
    <div class="kpi-container-item-d">
      <h2>10000€</h2>
    </div>
  </div>
  <!-- end of kpi-container-->
  <!-- start of flat-info-->
  <div class="flat-info-container">
  <!-- left-side-container in flat-info -->
    <div class="flat-info-column-a">
      <div class="flat-info-foto-display">
      <h1>foto-display-box</h1>
      </div>
      <!-- Button trigger modal -->
      <div>
        <button type="button" class="button-dark" data-toggle="modal" data-target="#exampleModalCenter">
          New Task
        </button>
      </div>
      <div class="flat-info-important">
        <div class="task-card-small">
          <h3>Hello I am a title</h3>
          <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eaque quaerat exercitationem distinctio recusandae, nihil quam, sequi placeat quos, velit asperiores sit corrupti dicta. </p>
        </div>
      </div>
    </div>
    <!-- right-side-container in flat-info-->
    <div class="flat-info-column-b">
      <!--<div class="flat-info-column-b-item-a">-->
        <div class="task-card-flat-show">
          <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
          <h3>Task title</h3>
          <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
          </div>
          <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
        </div>
      <!--</div>-->
      <!--<div class="flat-info-column-b-item-b">-->
        <div class="task-card-flat-show">
            <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
            <h3>Task title</h3>
            <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
            </div>
            <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
        </div>
      <!--</div>-->
      <!--<div class="flat-info-column-b-item-c">-->
        <div class="task-card-flat-show">
            <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
            <h3>Task title</h3>
            <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
            </div>
            <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
        </div>
      <!--</div>-->
      <!--<div class="flat-info-column-b-item-d">-->
        <div class="task-card-flat-show">
          <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
          <h3>Task title</h3>
          <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
          </div>
          <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
        </div>
      <!--</div>-->
    </div>
  </div>
</div>
