<% content_for(:title) do %>
  Flattrack | Dashboard
<% end %>
<%= render 'shared/taskModal' %>
<div class="container">
  <!--<h2 class="header">Good Morning, <%= current_user.name %>!</h2>-->
  <div class="d-flex justify-content-between px-3">
    <span>

    <h2 class="header">Tasks for today (<%= @tasks.count %>)</h2>
    <button style="position:sticky; bottom:10px; right:80px;" type="button" class="button-dark-dashboard">
     <i class="fas fa-plus"></i> &nbsp;New Task
      </button>
    </span>

  </div>
  <div class="dashboard-container">
    <div class="task-feed-container">
      <h3 class="mt-2" style="border-bottom: thin solid red;">High Priority</h3>
      <%@top_prio.each do |task|%>
        <%= link_to edit_flat_task_path(task.flat, task) do %>
          <div class="task-card-feed">
            <div class="row">
              <div>
                <p class="lighter grey-out">
                  <%if task.category.name.downcase =="repair"%>
                    <img src="icon_task_category_repair.png" alt="" class="category-icon" style="color: rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="maintenance"%>
                    <img src="icon_task_category_maintenance.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="restocking"%>
                    <img src="icon_task_category_restocking.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="furnishing"%>
                    <img src="icon_task_category_furnishing.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%else%>
                    <img src="icon_task_category_general.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%end%>
                     &nbsp; <%=task.category.name%>
                </p>
              </div>
              <div class="avatar-list">
                <% task.users.each do |user| %>
                  <%= cl_image_tag user.photo, crop: :thumb, class: "avatar" %>
                <% end %>
              </div>
            </div>
            <div class="row align-items-end mt-3">
              <div>
                <h3><%=task.title%></h3>
              </div>
              <div>
                <p><%=task.created_at.strftime("%e %b")%></p>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
      <h3 style="border-bottom: thin solid orange;">Medium Priority</h3>
      <%@med_prio.each do |task|%>
        <%= link_to edit_flat_task_path(task.flat, task) do %>
          <div class="task-card-feed">
            <div class="row">
              <div>
                <p class="lighter grey-out">
                  <%if task.category.name.downcase =="repair"%>
                    <img src="icon_task_category_repair.png" alt="" class="category-icon" style="color: rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="maintenance"%>
                    <img src="icon_task_category_maintenance.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="restocking"%>
                    <img src="icon_task_category_restocking.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="furnishing"%>
                    <img src="icon_task_category_furnishing.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%else%>
                    <img src="icon_task_category_general.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%end%>
                     &nbsp; <%=task.category.name%>
                </p>
              </div>
              <div class="avatar-list">
                <% task.users.each do |user| %>
                  <%= cl_image_tag task.user.photo, crop: :thumb, class: "avatar" %>
                <% end %>
              </div>
            </div>
            <div class="row align-items-end mt-3">
              <div>
                <h3><%=task.title%></h3>
              </div>
              <div>
                <p><%=task.created_at.strftime("%e %b")%></p>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
      <h3 style="border-bottom: thin solid green;">Low Priority</h3>
      <%@low_prio.each do |task|%>
        <%= link_to edit_flat_task_path(task.flat, task) do %>
          <div class="task-card-feed">
            <div class="row">
              <div>
                <p class="lighter grey-out">
                  <%if task.category.name.downcase =="repair"%>
                    <img src="icon_task_category_repair.png" alt="" class="category-icon" style="color: rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="maintenance"%>
                    <img src="icon_task_category_maintenance.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="restocking"%>
                    <img src="icon_task_category_restocking.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="furnishing"%>
                    <img src="icon_task_category_furnishing.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%else%>
                    <img src="icon_task_category_general.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%end%>
                     &nbsp; <%=task.category.name%>
                </p>
              </div>
              <div class="avatar-list">
                <% task.users.each do |user| %>
                  <%= cl_image_tag task.user.photo, crop: :thumb, class: "avatar" %>
                <% end %>
              </div>
            </div>
            <div class="row align-items-end mt-3">
              <div>
                <h3><%=task.title%></h3>
              </div>
              <div>
                <p><%=task.created_at.strftime("%e %b")%></p>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
    </div>

    <%series_a = {"Jul 24 '19" =>5, "Jul 25 '19"=>9,"Jul 26 '19"=>6,"Jul 29 '19"=>4,"Jul 30 '19"=>3, "Jul 31 '19"=>2, "Aug 01 '19"=>5}

series_b = {"Jul 24 '19" =>3, "Jul 25 '19"=>4,"Jul 26 '19"=>2,"Jul 29 '19"=>5,"Jul 30 '19"=>2, "Jul 31 '19"=>6, "Aug 01 '19"=>3}

series_c = {"Jul 24 '19" =>2, "Jul 25 '19"=>3,"Jul 26 '19"=>8,"Jul 29 '19"=>3,"Jul 30 '19"=>2, "Jul 31 '19"=>3, "Aug 01 '19"=>1}

series_d = {"Jul 24 '19" =>5, "Jul 25 '19"=>6,"Jul 26 '19"=>7,"Jul 29 '19"=>4,"Jul 30 '19"=>2, "Jul 31 '19"=>4, "Aug 01 '19"=>3}%>
<!--
    <div class="item-a item-padding">
      <div class="dashboard-card-regular">
        <h3 class="dashboard-kpis"><%= @area %>m²</h3>
        <h3 class="title subheader">Area</h3>
      </div>
    </div>
    <div class="item-b item-padding">
      <div class="dashboard-card-regular">
        <h3 class="dashboard-kpis"><%= @rent * Flat.count / @area %>€/m²</h3>
        <h3 class="title subheader">Rent</h3>
      </div>
    </div>-->
    <div class="item-c item-padding">
      <div class="dashboard-card-regular">
        <h3 class="dashboard-kpis utilities"><%= @utilities %>€</h3>
        <h3 class="title subheader">Utilities</h3>
      </div>
    </div>
    <div class="item-d item-padding">
      <div class="dashboard-card-regular">
        <h3 class="dashboard-kpis cashflow"><%= @cashflow %>€</h3>
        <h3 class="title subheader">Cash Flow</h3>
      </div>
    </div>
    <div class="item-e item-padding">
      <div class="dashboard-card-regular">
       <h3 class="title subheader">Workload</h3>
        <%= line_chart [
         { name: "CB", data: series_a},
         { name: "CH", data: series_b},
         { name: "CG", data: series_c},
         { name: "NE", data: series_d}
        ], width:"auto", height:"48vh", legend: "right" , colors: ["#113f67", "#00818a", "#9fd3c7", "#e8e8e8"], xtitle: "Date", ytitle:"Tasks", points: false, curve: false %>

        <!--<%= pie_chart User.where(company:current_user.company).map { |user| {name: user.name, data: user.tasks.length}}%>-->
      </div>
    </div>
    <!--<div class="item-f item-padding">
      <div class="dashboard-card-regular">
        <h3 class="title subheader">Urgency of Tasks</h3>
        <%= pie_chart Task.group(:urgency).count, messages: {empty: "No data"}, library:{backgroundColor: "#FFFFFF"},width: "250px", height: "230px"  %>
           messages: {empty: "No data"}, library:{backgroundColor: "#FFFFFF"},width: "300px", height: "230px"
      </div>
    </div>-->
  </div>
</div>

