<% content_for(:title) do %>
  Flattrack | Dashboard
<% end %>
<%= render 'shared/taskModal' %>
<div class="container">
  <div class="show-header">
    <!-- <h2 class="header">Tasks for today (<%= @tasks.count %>)</h2> -->
    <div class="d-flex justify-content-between">
      <h2 class="header">Tasks for today (<%= @tasks.count %>)</h2>
      <%=link_to new_flat_task_path(@flat), style: "align-self: center; margin-right: 8px" do%>
        <button type="button" class="button-dark-dashboard">
          New Task &nbsp; <i class="fas fa-plus"></i>
        </button>
      <%end%>
    </div>
  </div>
  <div class="dashboard-container">
    <div class="task-feed-container">
      <h3 class="mt-2" style="border-bottom: thin solid red;">High Priority</h3>
      <%@top_prio.each do |task|%>
        <%= link_to edit_flat_task_path(task.flat, task) do %>
          <div class="task-card-feed">
            <div class="row">
              <div>
                <p class="lighter grey-out">
                  <%if task.category.name.downcase =="repair"%>
                    <img src="icon_task_category_repair.png" alt="" class="category-icon" style="color: rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="maintenance"%>
                    <img src="icon_task_category_maintenance.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="restocking"%>
                    <img src="icon_task_category_restocking.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="furnishing"%>
                    <img src="icon_task_category_furnishing.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%else%>
                    <img src="icon_task_category_general.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%end%>
                     &nbsp; <%=task.category.name%>
                </p>
              </div>
              <div class="avatar-list">
                <% task.users.each do |user| %>
                  <%= cl_image_tag user.photo, crop: :thumb, class: "avatar" %>
                <% end %>
              </div>
            </div>
            <div class="row align-items-end mt-3">
              <div>
                <h3><%=task.title%></h3>
              </div>
              <div>
                <p><%=task.created_at.strftime("%e %b")%></p>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
      <h3 style="border-bottom: thin solid orange;">Medium Priority</h3>
      <%@med_prio.each do |task|%>
        <%= link_to edit_flat_task_path(task.flat, task) do %>
          <div class="task-card-feed">
            <div class="row">
              <div>
                <p class="lighter grey-out">
                  <%if task.category.name.downcase =="repair"%>
                    <img src="icon_task_category_repair.png" alt="" class="category-icon" style="color: rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="maintenance"%>
                    <img src="icon_task_category_maintenance.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="restocking"%>
                    <img src="icon_task_category_restocking.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="furnishing"%>
                    <img src="icon_task_category_furnishing.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%else%>
                    <img src="icon_task_category_general.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%end%>
                     &nbsp; <%=task.category.name%>
                </p>
              </div>
              <div class="avatar-list">
                <% task.users.each do |user| %>
                  <%= cl_image_tag user.photo, crop: :thumb, class: "avatar" %>
                <% end %>
              </div>
            </div>
            <div class="row align-items-end mt-3">
              <div>
                <h3><%=task.title%></h3>
              </div>
              <div>
                <p><%=task.created_at.strftime("%e %b")%></p>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
      <h3 style="border-bottom: thin solid green;">Low Priority</h3>
      <%@low_prio.each do |task|%>
        <%= link_to edit_flat_task_path(task.flat, task) do %>
          <div class="task-card-feed">
            <div class="row">
              <div>
                <p class="lighter grey-out">
                  <%if task.category.name.downcase =="repair"%>
                    <img src="icon_task_category_repair.png" alt="" class="category-icon" style="color: rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="maintenance"%>
                    <img src="icon_task_category_maintenance.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="restocking"%>
                    <img src="icon_task_category_restocking.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <% elsif task.category.name.downcase =="furnishing"%>
                    <img src="icon_task_category_furnishing.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%else%>
                    <img src="icon_task_category_general.png" alt="" class="category-icon" style="color:rgba(0,0,0,0.7)">
                  <%end%>
                     &nbsp; <%=task.category.name%>
                </p>
              </div>
              <div class="avatar-list">
                <% task.users.each do |user| %>
                  <%= cl_image_tag user.photo, crop: :thumb, class: "avatar" %>
                <% end %>
              </div>
            </div>
            <div class="row align-items-end mt-3">
              <div>
                <h3><%=task.title%></h3>
              </div>
              <div>
                <p><%=task.created_at.strftime("%e %b")%></p>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
    </div>

    <%series_a = {"Jul 18 '19" =>5, "Jul 19 '19"=>9,"Jul 22 '19"=>6,"Jul 23 '19"=>4,"Jul 24 '19"=>3, "Jul 25 '19"=>2, "Jul 26 '19"=>5}

series_b = {"Jul 18 '19" =>3, "Jul 19 '19"=>4,"Jul 22 '19"=>2,"Jul 23 '19"=>5,"Jul 24 '19"=>2, "Jul 25 '19"=>6, "Jul 26 '19"=>3}

series_c = {"Jul 18 '19" =>2, "Jul 19 '19"=>3,"Jul 22 '19"=>8,"Jul 23 '19"=>3,"Jul 24 '19"=>2, "Jul 25 '19"=>3, "Jul 26 '19"=>1}

series_d = {"Jul 18 '19" =>5, "Jul 19 '19"=>6,"Jul 22 '19"=>7,"Jul 23 '19"=>4,"Jul 24 '19"=>2, "Jul 25 '19"=>4, "Jul 26 '19"=>3}%>
    <div class="item-c item-padding">
      <div class="dashboard-card-regular">
        <h3 class="dashboard-kpis utilities"><%= @utilities %>€</h3>
        <h3 class="title subheader">Utilities</h3>
      </div>
    </div>
    <div class="item-d item-padding">
      <div class="dashboard-card-regular">
        <h3 class="dashboard-kpis cashflow"><%= @cashflow %>€</h3>
        <h3 class="title subheader">Cash Flow</h3>
      </div>
    </div>
    <div class="item-e item-padding">
      <div class="dashboard-card-regular">
       <h3 class="title subheader" style="margin-bottom:0;">Workload</h3>
        <%= line_chart [
         { name: "Bob", data: series_a},
         { name: "Tina", data: series_b},
         { name: "Joe", data: series_c},
         { name: "Kris", data: series_d}
        ], width:"auto", height:"48vh", legend: "right" , colors: ["#113f67", "#00818a", "#9fd3c7", "#e8e8e8"], xtitle: "Date", ytitle:"Tasks", points: false, discrete: true %>

        <!--<%= pie_chart User.where(company:current_user.company).map { |user| {name: user.name, data: user.tasks.length}}%>-->
      </div>
    </div>
  </div>
</div>

