<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Flattrack - Real Estate Task Management">
    <meta property="og:image" content="flat_og.jpg">
    <meta property="og:description" content="Real Estate Task Management for furnished flats. You will be impressed.">
    <meta property="og:site_name" content="Flattrack"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:url" content="www.flattrack.cc"/>



    <title><%= content_for?(:title) ? yield(:title) : "Flattrack | Real Estate Management" %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
